.button {
    &__right {
        background-color: var(--purple-2);
    }
    &__left {
        background-color: var(--purple-2);
    }

    &__shop {
        background-color: var(--purple-2);
    }
}
