.button {
    &__right {
        background-color: var(--white);
    }
    &__left {
        background-color: var(--white);
    }

    &__shop {
        background-color: var(--white);
        border: 1px solid var(--purple-2);
        border-radius: 33.5px;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-right: 80px;
        padding-left: 79px;
        margin-top: 31px;
        color: var(--purple-2);
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }
}
