#canvas {
    position: absolute;
    top: 120px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#canvas2 {
    position: absolute;
    top: 390px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.canvas__wrapper {
    position: relative;
}
