#canvas {
    position: absolute;
    top: 432px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    @media screen and (max-width: 1439px) {
        display: none;
    }
}
#canvas2 {
    position: absolute;
    top: 390px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    @media screen and (max-width: 1439px) {
        display: none;
    }
}
#canvas3 {
    position: absolute;
    top: 410px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    @media screen and (max-width: 1439px) {
        display: none;
    }
}

.canvas__wrapper {
    position: relative;
}
