.footer {
    box-shadow: 0px 0px 38px -1px var(--purple);
    &__title {
        font-weight: 400;
        font-size: 31px;
        letter-spacing: 2px;
        color: var(--purple-3);
        opacity: 0.8;
        margin-top: 29px;
        margin-bottom: 50px;
        @media screen and (max-width: 1439px) and (min-width: 920px) {
            text-align: center;
        }
        @media screen and (max-width: 919px) {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 650px) and (min-width: 420px) {
            font-size: 25px;
        }
        @media screen and (max-width: 419px) {
            font-size: 20px;
        }
    }

    &__message {
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        @media screen and (max-width: 854px) {
            flex-direction: column;
            gap: 20px;
        }
    }
    &__trouble {
        font-weight: 300;
        font-size: 12px;
        color: var(--grey-2);
        margin-right: 221px;
        @media screen and (max-width: 1439px) and (min-width: 1201px) {
            margin-right: 120px;
        }
        @media screen and (max-width: 1200px) and (min-width: 920px) {
            margin-right: 100px;
        }
        @media screen and (max-width: 919px) and (min-width: 854px) {
            margin-right: 72px;
        }
        @media screen and (max-width: 853px) {
            margin-right: 0;
        }
    }

    &__conditions {
        font-weight: 300;
        font-size: 12px;
        color: var(--grey-2);
        margin-right: 138px;
        @media screen and (max-width: 1439px) and (min-width: 920px) {
            margin-right: 50px;
        }
        @media screen and (max-width: 919px) and (min-width: 854px) {
            margin-right: 72px;
        }
        @media screen and (max-width: 853px) {
            margin-right: 0;
        }
    }

    &__vk {
        width: 33px;
        height: 20px;
        margin-right: 40px;
        @media screen and (max-width: 919px) {
            margin-right: 20px;
        }
    }

    &__fb {
        width: 28px;
        height: 27px;
        margin-right: 40px;
        @media screen and (max-width: 919px) {
            margin-right: 20px;
        }
    }

    &__twi {
        width: 31px;
        height: 25px;
        margin-right: 40px;
        @media screen and (max-width: 919px) {
            margin-right: 20px;
        }
    }

    &__class {
        width: 27px;
        height: 27px;
    }

    &__information {
        float: right;
        display: flex;
        margin-bottom: 28px;
        @media screen and (max-width: 384px) {
            flex-direction: column;
            float: none;
        }
    }

    &__address {
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: var(--grey-3);
        margin-right: 100px;
        @media screen and (max-width: 425px) and (min-width: 385px) {
            margin-right: 20px;
        }
        @media screen and (max-width: 384px) {
            margin-right: 0px;
            margin-bottom: 15px;
        }
    }
    &__logo {
        margin-right: 15px;
        @media screen and (max-width: 384px) {
            margin-right: 0px;
            margin-bottom: 15px;
        }
    }

    &__studio {
        width: 91px;
        height: 41px;
    }

    &__developer {
        font-weight: 400;
        font-size: 16px;
        line-height: 107%;
        color: var(--grey-3);
    }
}
