.info {
    display: flex;
    gap: 29px;
    @media screen and (max-width: 1439px) {
        flex-direction: column;
    }
    &__description {
        width: 24%;
        z-index: 10;
        @media screen and (max-width: 1439px) {
            width: 100%;
            text-align: center;
        }
    }
    &__title {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        color: var(--black);
        margin-bottom: 26px;
    }

    &__text {
        font-size: 16px;
        line-height: 154.8%;
        font-weight: 400;
        color: var(--white);
        @media screen and (max-width: 1439px) {
            color: var(--grey);
        }

        & span {
            text-transform: lowercase;
        }
    }

    &__block {
        width: 76%;
        z-index: 10;
        @media screen and (max-width: 1439px) {
            width: 100%;
        }
    }

    &__content {
        display: grid;
        grid-template-areas:
            "exercise diagnostic diet"
            "exercise diagnostic diet"
            "exercise diagnostic diet"
            "exercise varicosity varicosity";
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.7fr 1fr;
        @media screen and (max-width: 840px) {
            grid-template-areas:
                "exercise"
                "diagnostic"
                "diet"
                "varicosity";
            grid-gap: 15px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 1fr;
        }
    }

    &__card {
        &_exercise {
            grid-area: exercise;
            background: url("../../img/exercise.png") no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: multiply;
            box-shadow: inset -2px 53px 83px 0px rgba(71, 9, 62, 0.9);
        }

        &_diagnostic {
            grid-area: diagnostic;
            background: url("../../img/diagnostic.png") no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: multiply;
            box-shadow: inset -2px 53px 83px 0px rgba(71, 9, 62, 0.9);
        }

        &_diet {
            grid-area: diet;
            background: url("../../img/diet.png") no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: multiply;
            box-shadow: inset -2px 53px 83px 0px rgba(71, 9, 62, 0.9);
        }
        &_varicosity {
            grid-area: varicosity;
            background-color: var(--purple);
        }
    }

    &__head {
        font-weight: 300;
        font-size: 36px;
        color: var(--white);
        padding: 24px 28px;
        padding-bottom: 60px;
    }

    &__button {
        margin-top: 35px;
        background-color: transparent;
        border: 1px solid var(--purple);
        border-radius: 33.5px;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-right: 80px;
        padding-left: 79px;
        float: right;
        color: var(--purple);
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        &:hover {
            background-color: var(--purple-2);
            color: var(--white);
        }
    }
}
