.main {
    &__block {
        display: flex;
        margin-top: 67px;
        margin-bottom: 151px;
        @media screen and (max-width: 1439px) {
            flex-direction: column;
            margin-top: 30px;
            margin-bottom: 100px;
        }
    }

    &__nav {
        width: 30%;
        z-index: 2;
        @media screen and (max-width: 1439px) {
            width: 100%;
        }
    }
    &__title {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-size: 55px;
        line-height: 100%;
        color: var(--black);
        margin-bottom: 215px;
        @media screen and (max-width: 1439px) {
            margin-bottom: 45px;
            text-align: center;
        }
    }

    &__hints {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 1440px) {
            flex-direction: column;
        }
    }

    &__hint {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-bottom: 32px;
        @media screen and (max-width: 1439px) {
            margin-bottom: 0px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__link {
        text-decoration: underline;
        color: var(--purple-2);
        color: var(--purple-2);
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
    }

    &__scheme {
        width: 67px;
        height: 67px;
    }

    &__download {
        width: 68px;
        height: 67px;
    }

    &__address {
        width: 68px;
        height: 81px;
    }

    &__images {
        width: 800px;
        height: 505px;
        @media screen and (max-width: 1440px) {
            text-align: center;
        }
    }

    &__img_90060 {
        position: relative;
        top: 71px;
        left: -109px;
        @media screen and (max-width: 1039px) {
            visibility: hidden;
        }
    }
    &__img_90030 {
        position: relative;
        top: -641px;
        left: 74px;
    }
    &__img_450 {
        position: relative;
        top: -352px;
        left: 440px;
        @media screen and (max-width: 1440px) {
            left: 307px;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__circleButtons {
        z-index: 10;
    }

    &__left {
        width: 68px;
        height: 68px;
        margin-right: 30px;
        stroke: var(--white);
        @media screen and (max-width: 1439px) {
            stroke: var(--purple-2);
        }
    }

    &__right {
        width: 68px;
        height: 68px;
        stroke: var(--white);
        @media screen and (max-width: 1439px) {
            stroke: var(--purple-2);
        }
    }

    &__efficient {
        width: 67px;
        height: 67px;
    }

    &__dosage {
        width: 68px;
        height: 59px;
    }

    &__tablet {
        width: 68px;
        height: 58px;
    }

    &__description {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 154.8%;
    }

    &__advantages {
        display: flex;
        gap: 157px;
        margin-top: 103px;
        margin-bottom: 128px;
        @media screen and (max-width: 1439px) {
            margin-top: 70px;
            margin-bottom: 100px;
        }
    }

    &__advantage {
        display: flex;
        gap: 30px;
        align-items: center;
        position: relative;
    }

    &__production {
        margin-top: 300px;
        margin-bottom: 220px;
        @media screen and (max-width: 1439px) {
            margin-top: 200px;
            margin-bottom: 120px;
        }
    }

    &__info {
        margin-top: 217px;
        margin-bottom: 150px;
        @media screen and (max-width: 1439px) {
            margin-top: 117px;
            margin-bottom: 50px;
        }
    }

    &__shop {
        margin-bottom: 94px;
    }

    &__tooltip {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 31px;
        left: 311px;
        &:hover .tooltiptext {
            visibility: visible;
        }
        @media screen and (max-width: 1439px) and (min-width: 769px) {
            width: 21px;
            height: 21px;
            position: relative;
            top: 11px;
            left: 0px;
        }
        @media screen and (max-width: 768px) and (min-width: 551px) {
        }
        @media screen and (max-width: 550px) {
        }
    }

    &__tooltiptext {
        visibility: hidden;
        width: 150px;
        color: var(--white);
        background-color: var(--purple-2);
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 2;
        top: 61px;
        left: 178px;
        &_active {
            visibility: visible;
        }
    }
}
