.mission {
    display: flex;
    gap: 68px;
    &__description {
        width: 22%;
    }

    &__title {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 38px;
        color: var(--black);
    }

    &__text {
        font-size: 16px;
        line-height: 154.8%;
        font-weight: 400;
        color: var(--grey);
    }

    &__content {
        width: 78%;
    }

    &__point {
        display: flex;
        border-bottom: 1px solid var(--purple);
        position: relative;
        &:first-child {
            border-top: 1px solid var(--purple);
        }
    }

    &__convulsion {
        padding-top: 13px;
        padding-bottom: 47px;
        position: absolute;
    }
    &__heaviness {
        padding-top: 13px;
        padding-bottom: 47px;
        position: absolute;
    }
    &__pain {
        padding-top: 13px;
        padding-bottom: 47px;
        position: absolute;
    }
    &__edema {
        padding-top: 13px;
        padding-bottom: 47px;
        position: absolute;
    }
    &__tone {
        padding-top: 13px;
        padding-bottom: 47px;
        position: absolute;
    }

    &__link {
        align-self: end;
        padding-top: 142px;
        padding-bottom: 32px;
        font-weight: 400;
        font-size: 18px;
        line-height: 117%;
        text-decoration: underline;
        width: 34%;
    }

    &__symptom {
        font-weight: 300;
        font-size: 30px;
        align-self: center;
        color: var(--black);
    }
}
