.mission {
    display: flex;
    gap: 68px;
    &__description {
        width: 22%;
    }

    &__title {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 38px;
        color: var(--black);
    }

    &__text {
        font-size: 16px;
        line-height: 154.8%;
        font-weight: 400;
        color: var(--grey);
    }

    &__content {
        width: 78%;
    }

    &__point {
        display: flex;
        border-bottom: 1px solid var(--purple);
        position: relative;

        &:first-child {
            border-top: 1px solid var(--purple);
        }
    }

    &__convulsion {
        padding: 5px;
        position: absolute;
        width: 137px;
        height: 137px;
        border-radius: 50%;
        background-color: var(--purple-2);
        top: 13px;
        left: 118px;
    }

    &__star {
        animation: star 1.5s infinite;
    }

    @keyframes star {
        0% {
            transform: scale(0.9);
            transform-origin: center;
        }
        50% {
            transform: scale(1);
            transform-origin: center;
        }
        100% {
            transform: scale(0.9);
            transform-origin: center;
        }
    }

    &__heaviness {
        padding: 5px;
        position: absolute;
        width: 137px;
        height: 137px;
        border-radius: 50%;
        background-color: var(--purple-2);
        top: 35px;
        right: 0;
    }

    &__vector {
        animation: vector 1.5s infinite;
    }
    @keyframes vector {
        0% {
            transform: translateX(0%);
            transform-origin: center;
        }
        50% {
            transform: translateX(10%);
            transform-origin: center;
        }
        100% {
            transform: translateX(0%);
            transform-origin: center;
        }
    }
    &__vector2 {
        animation: vector2 1.5s infinite;
        position: absolute;
        top: 28px;
        left: -8px;
    }
    @keyframes vector2 {
        0% {
            transform: translateX(0%);
            transform-origin: center;
        }
        50% {
            transform: translateX(-5%);
            transform-origin: center;
        }
        100% {
            transform: translateX(0%);
            transform-origin: center;
        }
    }
    &__pain {
        padding: 5px;
        position: absolute;
        width: 137px;
        height: 137px;
        border-radius: 50%;
        background-color: var(--purple-2);
        top: -21px;
        left: 51px;
    }

    &__ell {
        position: absolute;
        top: 42px;
        left: 45px;
        animation: ell 1.5s infinite;
    }
    @keyframes ell {
        0% {
            transform: scale(1);
            transform-origin: center;
        }
        50% {
            transform: scale(1.5);
            transform-origin: center;
        }
        50% {
            transform: scale(1.1);
            transform-origin: center;
        }
        100% {
            transform: scale(1.2);
            transform-origin: center;
        }
    }
    &__ell2 {
        position: absolute;
        top: 60px;
        left: 64px;
        animation: ell 1.5s infinite;
    }
    &__edema {
        padding-top: 13px;
        padding-bottom: 47px;
        position: absolute;
    }
    &__tone {
        padding-top: 13px;
        padding-bottom: 47px;
        position: absolute;
    }

    &__link {
        align-self: end;
        padding-top: 142px;
        padding-bottom: 32px;
        font-weight: 400;
        font-size: 18px;
        line-height: 117%;
        text-decoration: underline;
        width: 34%;
    }

    &__symptom {
        font-weight: 300;
        font-size: 30px;
        align-self: center;
        color: var(--black);
    }
}
