.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.42);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    overflow-y: auto;

    &__window {
        background: var(--white);
        border-radius: 8px;
        box-sizing: border-box;
        position: relative;
        margin: 20% auto;
        padding: 40px 30px;
        max-width: 90%;

        @media screen and (max-width: 460px) {
            padding: 20px 25px;
        }

        @media screen and (max-width: 575px) and (min-width: 461px) {
            padding: 30px 60px;
        }
        @media screen and (max-width: 767px) and (min-width: 576px) {
            padding: 40px 65px;
        }

        @media screen and (max-width: 992px) and (min-width: 768px) {
            padding: 45px 75px;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
        @media screen and (max-width: 694px) and (min-width: 596px) {
            max-width: 400px;
        }
        @media screen and (max-width: 595px) and (min-width: 400px) {
            max-width: 300px;
        }
        @media screen and (max-width: 399px) and (min-width: 370px) {
            max-width: 280px;
        }
        @media screen and (max-width: 369px) and (min-width: 340px) {
            max-width: 256px;
        }
        @media screen and (max-width: 369px) and (min-width: 340px) {
            max-width: 256px;
        }
        @media screen and (max-width: 339px) {
            max-width: 238px;
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 24px;
        height: 24px;
        @media screen and (max-width: 426px) and (min-width: 340px) {
            top: 10px;
            right: 10px;
        }
        @media screen and (max-width: 339px) {
            top: 5px;
            right: 5px;
        }
    }

    &__container {
        @media screen and (max-width: 694px) {
            max-width: 525px;
        }
    }
}
