.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__box {
        margin: 0 auto;
        max-width: 1140px;

        @media screen and (max-width: 1180px) {
            padding: 0 20px;
        }
    }

    &__header {
        margin-top: 28px;
    }
}
